
name: Load osu players data and upload to stats calculation sheet

on:
  push:
    branches: [automatization]
    
jobs:
  build_stats:
    environment: release
    runs-on: ubuntu-latest
    env:
      Env: ${{ secrets.ENV }}
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3  
      - name: Create .env file
        run: echo "$Env" | base64 -d > ./.env
      - name: Dotenv Action
        uses: falti/dotenv-action@v1.0.2
        with:
          mask-variables: false

      - name: actions-setup-mysql
        uses: shogo82148/actions-setup-mysql@v1.14.1
        with:
          mysql-version: 10.9
          distribution: mariadb
          root-password: password
      - name: show databases
        run: mysql -h127.0.0.1 -uroot  -ppassword -e "show databases;"    
      - name: show grants root
        run: mysql --user=root -h127.0.0.1 --password=${DBpassword} -e "show grants;"        
      - name: grant privileges
        run: mysql --user=$DBuser -h127.0.0.1 --password=$DBpassword -e "GRANT ALL PRIVILEGES ON *.* TO '${DBuser}'@'localhost' IDENTIFIED BY $DBpassword WITH GRANT OPTION;"
      - name: show grants
        run: mysql --user=$DBuser -h127.0.0.1 --password=$DBpassword -e "show grants;"        
      - name: Create database
        run: mysql --user=$DBuser -h127.0.0.1 --password=$DBpassword -e "CREATE DATABASE osu"

